version: "3.8"

services:
#  web:
#    build: .
#    image: 1fayozz/hik_app:latest
#    container_name: hik_app
#    ports:
#      - "8004:8004"
#    command: uvicorn main:app --reload --host 0.0.0.0 --port 8004
#    restart: unless-stopped
#    env_file:
#      - .env

  cloudflared:
    image: cloudflare/cloudflared:latest
    container_name: cloudflared
    command: tunnel --no-autoupdate run --token ${CLOUDFLARE_TOKEN}
    restart: unless-stopped
    depends_on:
      - web
    env_file:
      - .env

  watchtower:
    image: containrrr/watchtower:latest
    container_name: watchtower
    restart: unless-stopped
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
    command: --interval 30 hik_app
